<mat-horizontal-stepper linear>
  <mat-step label="Build Your Resume" [stepControl]="resumeForm">
    <!-- form 1 -->
    <div class="container">
      <form novalidate [formGroup]="resumeForm" class="form">

        <mat-form-field class="full-width">
          <input matInput placeholder="Enter Your Full name" formControlName="fullName" required>
          <mat-hint>FirstName MiddleName LastName</mat-hint>
          <mat-error *ngIf="fullName.hasError('required')">Full Name Is Required</mat-error>
          <mat-error *ngIf="fullName.hasError('pattern')">Name should only contain alphabets (A-Z a-z)</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Enter Email" formControlName="email" required>
          <mat-error *ngIf="email.hasError('required')">Email Is Required</mat-error>
          <mat-error *ngIf="email.hasError('email')">Email should be of the correct form (eg. abc@abc.com)</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Enter Contact" formControlName="contact" required>
          <mat-error *ngIf="contact.hasError('required')">Contact Is Required</mat-error>
          <mat-error *ngIf="contact.hasError('pattern')">Contact Should only be Numeric</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Enter Address" formControlName="address" required></textarea>
          <mat-error *ngIf="address.hasError('required')">Address Is Required</mat-error>
          <mat-error *ngIf="address.hasError('maxlength')">Address should not be above 250 characters</mat-error>
        </mat-form-field>


        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="m">Male</mat-radio-button>
          <mat-radio-button value="f">Female</mat-radio-button>
          <mat-radio-button value="o">Other</mat-radio-button>
          <mat-error *ngIf="gender.hasError('required') && gender.touched">Please Select A Valid Option</mat-error>
        </mat-radio-group>


        <mat-form-field class="full-width">
          <mat-label>Choose State</mat-label>
          <mat-select formControlName="state">
            <ng-container *ngFor="let s of states;let i=index">
              <mat-option value="{{s}}"> {{s}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="state.hasError('required')">State Is Required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" *ngIf="state.value">
          <mat-label>Choose city</mat-label>
          <mat-select formControlName="city">
            <ng-container *ngFor="let c of cities;let i=index">
              <mat-option value="{{c}}"> {{c}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="full-width">
          <input matInput placeholder="Enter Relevant Skill" formControlName="skills" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Cover Letter</mat-label>
          <input matInput formControlName="coverLetter" />
        </mat-form-field>

        <!-- Education Details-->
        <ng-container *ngIf="education.length">
          <div formArrayName="education">
            <ng-container *ngFor="let edu of education.controls;let i=index">
              <div [formGroupName]="i">
                <mat-form-field class="full-width">
                  <mat-label>Qualification</mat-label>
                  <input matInput placeholder="Acquired Degree/Honours" formControlName="qualification">
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Instituion Full Name</mat-label>
                  <input matInput placeholder="Enter Name of Your College/School" formControlName="instituion">
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Year of Passing</mat-label>
                  <input matInput placeholder="Enter Year of Completion" formControlName="passingYear">
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <button mat-raised-button type="button" (click)="addEducation()">Add
          Education</button>
        <button *ngIf="education.length" mat-raised-button type="button" (click)="removeEducation()">Remove</button>
        <div class="spacer"></div>
        <!-- End Education Details-->

        <!-- Experience Details-->
        <ng-container *ngIf="experience.length">
          <div formArrayName="experience">
            <ng-container *ngFor="let exp of experience.controls;let i=index">
              <div [formGroupName]="i">
                <mat-form-field class="full-width">
                  <mat-label>Company</mat-label>
                  <input matInput placeholder="Enter Company Name" formControlName="company">
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Enter Contact" formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <button mat-raised-button type="button" (click)="addExperience()">Add
          Experience</button>
        <button *ngIf="experience.length" mat-raised-button type="button" (click)="removeExperience()">Remove</button>
        <div class="spacer"></div>
        <!-- End Education Details-->

        <div class="spacer">
          <button mat-raised-button color="primary" (click)="saveResume()">Save Resume</button>
          <button mat-raised-button color="warn" (click)="resetForm()">Reset</button>
          <button mat-raised-button mat-button matStepperNext [disabled]="resumeForm.invalid">Preview
            Resume</button>
        </div>

      </form>
    </div>
  </mat-step>
  <mat-step label="Checkout Your Resume">
    <display-resume-presentation-ui [resumeDetails]="resumeForm.value"></display-resume-presentation-ui>
  </mat-step>
</mat-horizontal-stepper>